.elementor-repeater-item-9bead9a .banner__item-icon {
    background-color: #feeaf1;
}
.elementor-repeater-item-9bead9a:hover .banner__item-icon {
    box-shadow: inset 0 0 0 60px #f72a75;
}
.elementor-repeater-item-9bead9a .banner__item-icon span i {
    color: #f72a75;
}
.elementor-repeater-item-9bead9a:hover .banner__item-icon span i {
    color: #ffffff;
}
.elementor-repeater-item-c15aade .banner__item-icon {
    background-color: #e7faf6;
}
.elementor-repeater-item-c15aade:hover .banner__item-icon {
    box-shadow: inset 0 0 0 60px #10d0a1;
}
.elementor-repeater-item-c15aade .banner__item-icon span i {
    color: #10d0a1;
}
.elementor-repeater-item-c15aade:hover .banner__item-icon span i {
    color: #ffffff;
}
.elementor-223 .elementor-element.elementor-element-76e34a7:not(.elementor-motion-effects-element-type-background),
.elementor-223 .elementor-element.elementor-element-76e34a7 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #f2f5fa;
    background-image: url("assetsimg/shape/shape-bg-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-223 .elementor-element.elementor-element-76e34a7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 95px 0px 90px 0px;
}
.elementor-223 .elementor-element.elementor-element-76e34a7 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-223 .elementor-element.elementor-element-608f81e > .elementor-widget-container {
    margin: 0px 0px 125px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-223 .elementor-element.elementor-element-25a44ab {
    text-align: left;
}
 .elementor-repeater-item-18ab9cb .services-item__icon,
.elementor-repeater-item-18ab9cb .services-thumb-box__icon {
    background-color: #feeaf1;
}
.elementor-repeater-item-18ab9cb:hover .services-item__icon,
 .elementor-repeater-item-18ab9cb:hover .services-thumb-box__icon {
    box-shadow: inset 0 0 0 60px #f72a75;
}
.elementor-repeater-item-18ab9cb .services-item__icon i,
.elementor-repeater-item-18ab9cb .services-thumb-box__icon i {
    color: #f72a75;
}
.elementor-repeater-item-18ab9cb:hover .services-item__icon i,
.elementor-repeater-item-18ab9cb:hover .services-thumb-box__icon i {
    color: #ffffff;
}
.elementor-repeater-item-18ab9cb .btn-hexa i {
    background-color: #feeaf1;
}
.elementor-repeater-item-18ab9cb:hover .btn-hexa i {
    background-color: #f72a75;
}
.elementor-repeater-item-18ab9cb .btn-hexa:hover {
    color: #f72a75;
}

.elementor-repeater-item-6308605 .services-item__icon,
.elementor-repeater-item-6308605 .services-thumb-box__icon {
    background-color: #e7faf6;
}
.elementor-repeater-item-6308605:hover .services-item__icon,
.elementor-repeater-item-6308605:hover .services-thumb-box__icon {
    box-shadow: inset 0 0 0 60px #10d0a1;
}
.elementor-repeater-item-6308605 .services-item__icon i,
.elementor-repeater-item-6308605 .services-thumb-box__icon i {
    color: #10d0a1;
}
.elementor-repeater-item-6308605:hover .services-item__icon i,
.elementor-repeater-item-6308605:hover .services-thumb-box__icon i {
    color: #ffffff;
}
.elementor-repeater-item-6308605 .btn-hexa i {
    background-color: #e7faf6;
}
.elementor-repeater-item-6308605:hover .btn-hexa i {
    background-color: #10d0a1;
}
 .elementor-repeater-item-6308605 .btn-hexa:hover {
    color: #10d0a1;
}
.elementor-repeater-item-78d8e80 .services-item__icon,
.elementor-repeater-item-78d8e80 .services-thumb-box__icon {
    background-color: #ecf9ff;
}
.elementor-repeater-item-78d8e80:hover .services-item__icon,
.elementor-repeater-item-78d8e80:hover .services-thumb-box__icon {
    box-shadow: inset 0 0 0 60px #42bfff;
}
.elementor-repeater-item-78d8e80 .services-item__icon i,
.elementor-repeater-item-78d8e80 .services-thumb-box__icon i {
    color: #42bfff;
}
.elementor-repeater-item-78d8e80:hover .services-item__icon i,
.elementor-repeater-item-78d8e80:hover .services-thumb-box__icon i {
    color: #ffffff;
}
.elementor-repeater-item-78d8e80 .btn-hexa i {
    background-color: #ecf9ff;
}
.elementor-repeater-item-78d8e80:hover .btn-hexa i {
    background-color: #42bfff;
}
.elementor-repeater-item-78d8e80 .btn-hexa:hover {
    color: #42bfff;
}
.elementor-223 .elementor-element.elementor-element-9419f3f {
    padding: 0px 0px 70px 0px;
}
.elementor-223 .elementor-element.elementor-element-c56c0cc {
    padding: 40px 0px 100px 0px;
}
.elementor-223 .elementor-element.elementor-element-2982ac0 .elementor-repeater-item-7ed4146:hover {
    border-color: #f83e82;
}
.elementor-223 .elementor-element.elementor-element-2982ac0 .elementor-repeater-item-7ed4146 .counter__icon i {
    background-color: #f83e82;
}
.elementor-223 .elementor-element.elementor-element-2982ac0 .elementor-repeater-item-537aea9:hover {
    border-color: #4dc3ff;
}
.elementor-223 .elementor-element.elementor-element-2982ac0 .elementor-repeater-item-537aea9 .counter__icon i {
    background-color: #4dc3ff;
}
.elementor-223 .elementor-element.elementor-element-2982ac0 .elementor-repeater-item-cb7895c:hover {
    border-color: #22d4a8;
}
.elementor-223 .elementor-element.elementor-element-2982ac0 .elementor-repeater-item-cb7895c .counter__icon i {
    background-color: #22d4a8;
}
.elementor-223 .elementor-element.elementor-element-64340ef:not(.elementor-motion-effects-element-type-background),
.elementor-223 .elementor-element.elementor-element-64340ef > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #f2f5fa;
    background-image: url("assets/img/shape/shape-bg-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-223 .elementor-element.elementor-element-64340ef {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 130px 0px;
}
.elementor-223 .elementor-element.elementor-element-64340ef > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-223 .elementor-element.elementor-element-dd32180 {
    text-align: left;
}
.elementor-223 .elementor-element.elementor-element-5d9ef83:not(.elementor-motion-effects-element-type-background),
.elementor-223 .elementor-element.elementor-element-5d9ef83 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #171151;
}
.elementor-223 .elementor-element.elementor-element-5d9ef83 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 130px 0px;
}
.elementor-223 .elementor-element.elementor-element-5d9ef83 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-223 .elementor-element.elementor-element-1a23886 {
    text-align: left;
}
.elementor-repeater-item-662bd92 .tp-choose__icon i {
    color: #f72a75;
}
.elementor-repeater-item-662bd92:hover .tp-choose__icon i {
    color: #ffffff;
}
.elementor-repeater-item-662bd92 .tp-choose__icon {
    background-color: #fee9f10f;
}
.elementor-repeater-item-662bd92:hover .tp-choose__icon {
    box-shadow: inset 0 0 0 60px#F72A75;
}
.elementor-repeater-item-3bd4c13 .tp-choose__icon i {
    color: #10d0a1;
}
.elementor-repeater-item-3bd4c13:hover .tp-choose__icon i {
    color: #ffffff;
}
.elementor-repeater-item-3bd4c13 .tp-choose__icon {
    background-color: #00ffbc29;
}
.elementor-repeater-item-3bd4c13:hover .tp-choose__icon {
    box-shadow: inset 0 0 0 60px#10D0A1;
}
.elementor-repeater-item-c7fe041 .tp-choose__icon i {
    color: #42bfff;
}
.elementor-repeater-item-c7fe041:hover .tp-choose__icon i {
    color: #ffffff;
}
.elementor-repeater-item-c7fe041 .tp-choose__icon {
    background-color: #0ba5ff14;
}
.elementor-repeater-item-c7fe041:hover .tp-choose__icon {
    box-shadow: inset 0 0 0 60px#42BFFF;
}
.elementor-223 .elementor-element.elementor-element-57f19a8 {
    text-align: left;
}
.elementor-223 .elementor-element.elementor-element-0587b24:not(.elementor-motion-effects-element-type-background),
.elementor-223 .elementor-element.elementor-element-0587b24 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #f2f5fa;
    background-image: url("assets/img/shape/shape-bg-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-223 .elementor-element.elementor-element-0587b24 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -4px;
    margin-bottom: 0px;
    padding: 120px 0px 80px 0px;
}
.elementor-223 .elementor-element.elementor-element-0587b24 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-223 .elementor-element.elementor-element-7d12d28 {
    text-align: left;
}
.elementor-223 .elementor-element.elementor-element-7d12d28 .elementor-repeater-item-17e48f9 .team__thumb-shape::after {
    background-color: #a794c8;
}
.elementor-223 .elementor-element.elementor-element-7d12d28 .elementor-repeater-item-73224a0 .team__thumb-shape::after {
    background-color: #a794c8;
}
.elementor-223 .elementor-element.elementor-element-7d12d28 .elementor-repeater-item-8726cb9 .team__thumb-shape::after {
    background-color: #a794c8;
}
.elementor-223 .elementor-element.elementor-element-7d12d28 .elementor-repeater-item-3c2977f .team__thumb-shape::after {
    background-color: #a794c8;
}
.elementor-223 .elementor-element.elementor-element-b49b468:not(.elementor-motion-effects-element-type-background),
.elementor-223 .elementor-element.elementor-element-b49b468 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("assets/img/shape/shape-bg-02.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-223 .elementor-element.elementor-element-b49b468 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 125px 0px 130px 0px;
}
.elementor-223 .elementor-element.elementor-element-b49b468 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-223 .elementor-element.elementor-element-db1ea06 {
    padding: 130px 0px 130px 0px;
}
.elementor-223 .elementor-element.elementor-element-c183926 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-223 .elementor-element.elementor-element-c183926 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-223 .elementor-element.elementor-element-60818c6:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-223 .elementor-element.elementor-element-60818c6 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #0e63ff;
    background-image: url("assets/img/shape/shape-bg-03.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-223 .elementor-element.elementor-element-60818c6 > .elementor-element-populated,
.elementor-223 .elementor-element.elementor-element-60818c6 > .elementor-element-populated > .elementor-background-overlay,
.elementor-223 .elementor-element.elementor-element-60818c6 > .elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}
.elementor-223 .elementor-element.elementor-element-60818c6 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 65px 0px 70px 0px;
}
.elementor-223 .elementor-element.elementor-element-60818c6 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-223 .elementor-element.elementor-element-885e128 {
    padding: 125px 0px 100px 0px;
}
.elementor-223 .elementor-element.elementor-element-1b27a07 .tp-sec-box {
    text-align: left;
}
